body {
  background-color: #000;
  color: #F7647D;
}

.container-fluid .nav {
  color: #fff;
}
.container-fluid .nav ul li {
  list-style-type: none;
  margin-top: 10px;
}
.container-fluid .nav a {
  color: #898791;
  text-decoration: none;
  font-weight: 500;
}
.container-fluid .nav a:hover {
  color: #F7647D;
  transition: all 0.4s;
  letter-spacing: 1px;
}
.container-fluid .nav a i {
  padding-right: 20px;
}
.container-fluid .nav span {
  position: relative;
  left: -20px;
  font-weight: 700;
}
.container-fluid .center-panel .nav {
  height: 70px;
}
.container-fluid .center-panel .nav ul li {
  list-style-type: none;
  display: inline-block;
  position: relative;
  top: 35px;
}
.container-fluid .center-panel .nav ul li a {
  color: #898791;
  text-decoration: none;
  font-weight: 500;
  padding-left: 30px;
  position: relative;
  left: -55px;
}
.container-fluid .center-panel .nav ul li a:hover {
  color: #fff;
  transition: all 0.4s;
  letter-spacing: 0;
}
.container-fluid .center-panel .new-trailer h3 {
  font-weight: bold;
  color: #fff;
  border-left: 5px solid #F7647D;
  border-radius: 2px;
  padding-left: 5px;
}
.container-fluid .center-panel .new-trailer .card {
  width: 15rem;
  height: 224px;
  border-top: 0;
  background-color: #000;
}
.container-fluid .center-panel .new-trailer .card .card-body {
  position: relative;
}
.container-fluid .center-panel .new-trailer .card .card-body span {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3098039216);
  width: 100%;
  padding: 10px;
}
.container-fluid .center-panel .new-trailer .card .card-body span .card-title {
  color: #fff;
  font-weight: bold;
}
.container-fluid .center-panel .new-trailer .card .card-body span p {
  color: #F7647D;
  font-weight: 600;
}
.container-fluid .right-panel .login .avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #F7647D;
  position: relative;
  top: 15px;
}
.container-fluid .right-panel .login nav .user-name {
  color: #fff;
  font-weight: 600;
  position: relative;
  top: 8px;
}
.container-fluid .right-panel .login nav .user-email {
  font-weight: 300;
}
.container-fluid .right-panel .media-services img {
  width: 35px;
  border-radius: 20%;
}
.container-fluid footer .footer-login-btn {
  background-color: #F7647D;
  color: #fff;
}/*# sourceMappingURL=layout.css.map */